In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
import numpy as np

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved/created in part two into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,14,Pangoa,PE,75.67,clear sky,-12.12,-73.00,NaN
1,16,Balotra,IN,94.35,overcast clouds,25.83,72.23,Hotel City Square
2,18,Samarai,PG,77.72,moderate rain,-10.62,150.67,Nuli Sapi
3,19,Belmonte,BR,78.80,few clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão
4,25,Katsuura,JP,80.01,broken clouds,35.13,140.30,Katsuura Hotel Mikazuki

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Use .loc to create separate DataFrams for each city on travel route.
fairview_df = city_data_df.loc[(city_data_df['City'] == "Fairview")]

fairview_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
51,147,Fairview,US,84.0,light rain,40.81,-74.0,Homewood Suites by Hilton Edgewater-NYC Area

In [5]:
# Use .loc to create separate DataFrams for each city on travel route.
broome_df = city_data_df.loc[(city_data_df['City'] == "Broome")]

broome_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
60,174,Broome,US,77.0,broken clouds,42.25,-75.83,Chenango Valley State Park

In [6]:
# Use .loc to create separate DataFrams for each city on travel route.
albany_df = city_data_df.loc[(city_data_df['City'] == "Albany")]

albany_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,30,Albany,US,81.0,overcast clouds,42.6,-73.97,NaN

In [7]:
# Use .loc to create separate DataFrams for each city on travel route.
cohoes_df = city_data_df.loc[(city_data_df['City'] == "Cohoes")]

cohoes_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
172,408,Cohoes,US,82.0,broken clouds,42.77,-73.7,Hilton Garden Inn Troy

In [8]:
fairview_lat = fairview_df.iloc[0,5]
fairview_lng = fairview_df.iloc[0,6]
fairview_lat_lng = (fairview_lat,fairview_lng)
fairview_lat_lng

broome_lat = broome_df.iloc[0,5]
broome_lng = broome_df.iloc[0,6]
broome_lat_lng = (broome_lat,broome_lng)
broome_lat_lng

albany_lat = albany_df.iloc[0,5]
albany_lng = albany_df.iloc[0,6]
albany_lat_lng = (albany_lat,albany_lng)
albany_lat_lng

cohoes_lat = cohoes_df.iloc[0,5]
cohoes_lng = cohoes_df.iloc[0,6]
cohoes_lat_lng = (cohoes_lat,cohoes_lng)
cohoes_lat_lng

(42.77, -73.7)

In [9]:
# Get the latitude-longitude pairs for each city DataFrame as tuples
#pizarro_lat_lng = pizarro_df[['Lat','Lng']].to_numpy()
#pizarro_lat_lng = tuple(pizarro_lat_lng)
#print(pizarro_lat_lng)

#mapiripan_lat_lng = mapiripan_df[['Lat','Lng']].to_numpy()
#mapiripan_lat_lng = tuple(mapiripan_lat_lng)
#print(mapiripan_lat_lng)

#inirida_lat_lng = inirida_df[['Lat','Lng']].to_numpy()
#inirida_lat_lng = tuple(inirida_lat_lng)
#print(inirida_lat_lng)

#san_cristobal_lat_lng = san_cristobal_df[['Lat','Lng']].to_numpy()
#san_cristobal_lat_lng = tuple(san_cristobal_lat_lng)
#print(san_cristobal_lat_lng)

In [10]:
# Create map.
fig = gmaps.figure()

fairview2broome = gmaps.directions_layer(fairview_lat_lng, broome_lat_lng, travel_mode='DRIVING')
broome2albany = gmaps.directions_layer(broome_lat_lng, albany_lat_lng, travel_mode='DRIVING')
albany2cohoes = gmaps.directions_layer(albany_lat_lng, cohoes_lat_lng, travel_mode='DRIVING')
cohoes2fairview = gmaps.directions_layer(cohoes_lat_lng, fairview_lat_lng, travel_mode='DRIVING')

fig.add_layer(fairview2broome)
fig.add_layer(broome2albany)
fig.add_layer(albany2cohoes)
fig.add_layer(cohoes2fairview)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Concatinate 4 DataFrames
four_cities_data_df = pd.concat([fairview_df, broome_df, albany_df, cohoes_df])
four_cities_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
51,147,Fairview,US,84.0,light rain,40.81,-74.00,Homewood Suites by Hilton Edgewater-NYC Area
60,174,Broome,US,77.0,broken clouds,42.25,-75.83,Chenango Valley State Park
7,30,Albany,US,81.0,overcast clouds,42.60,-73.97,NaN
172,408,Cohoes,US,82.0,broken clouds,42.77,-73.70,Hilton Garden Inn Troy

In [12]:
# Add info box template information.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in four_cities_data_df.iterrows()]

In [13]:
# Add a marker layer for the vacation spots.
locations = four_cities_data_df[["Lat", "Lng"]]

fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))