In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
import numpy as np

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved/created in part two into a DataFrame.
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Port Maria,JM,88.00,clear sky,18.37,-76.89,Galina Breeze Hotel
1,2,Georgetown,MY,82.40,few clouds,5.41,100.34,Cititel Penang
2,9,Kavieng,PG,82.08,overcast clouds,-2.57,150.80,Nusa Island Retreat
3,12,Tiznit,MA,87.06,clear sky,29.58,-9.50,NaN
4,19,Kahului,US,78.80,scattered clouds,20.89,-156.47,Maui Seaside Hotel

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Using the template to information to the markers for the cities.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Filter the 'vaction_df' for the four cities.
vacation_start = vacation_df.loc[vacation_df["City"] == "Boston"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Freeport"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Palmer"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Westport"]

In [7]:
# Get latitude-longitude pairs for each city DataFrame
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]

In [8]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Concatinate 4 DataFrames
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
51,195,Boston,US,82.00,broken clouds,42.36,-71.06,XV Beacon Hotel
157,469,Freeport,US,87.01,clear sky,40.66,-73.58,The Freeport Inn and Marinad
122,382,Palmer,US,75.20,broken clouds,42.16,-72.33,Wedgewood Motel
141,428,Westport,US,84.20,scattered clouds,41.14,-73.36,The Westport Inn

In [10]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,195,Boston,US,82.00,broken clouds,42.36,-71.06,XV Beacon Hotel
1,469,Freeport,US,87.01,clear sky,40.66,-73.58,The Freeport Inn and Marinad
2,382,Palmer,US,75.20,broken clouds,42.16,-72.33,Wedgewood Motel
3,428,Westport,US,84.20,scattered clouds,41.14,-73.36,The Westport Inn

In [11]:
# Add info box template information.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

In [12]:
# Add a marker layer for the vacation spots.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))